#sidebar {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

/* Apparently not used anymore since FF140 (maybe earlier) */
#sidebar-wrapper {
  display: flex !important;
  @media (-moz-pref("uc.tweak.rounded-corners")) {
    min-width: var(--uc-tweak-rounded-corners-padding);
  }
}

#tabbrowser-tabbox {
  box-shadow: none !important;
  outline: none !important;
}

#sidebar-box {
  margin-block-end: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: var(--uc-tweak-rounded-corners-padding) !important;
}

#sidebar-main:not([sidebar-positionend]) {
  margin-inline-start: calc(-1 * var(--uc-tweak-rounded-corners-padding)) !important;
}
#sidebar-main[sidebar-positionend] {
  margin-inline-end: calc(-1 * var(--uc-tweak-rounded-corners-padding)) !important;
}
