:root {
  /*personal bar*/
  --bookmark-block-padding: 6px !important;
  --bookmark-inline-padding: 6px !important;
  --bookmark-block-margin: 2px !important;
  --bookmark-inline-margin: 2px !important;
  --uc-bookmark-toolbar-padding-bottom: 2px;
  
  /*urlbar*/
  --urlbar-container-padding: 2px !important;
  --urlbar-icon-size: 15px !important;
  --urlbar-icon-padding: calc(
    (var(--urlbar-min-height) - 2px - 2 * var(--urlbar-container-padding) - var(--urlbar-icon-size)) / 2) !important;
  
  /*fix*/
  --panel-separator-zap-gradient: none !important;
}

/*personal toolbar padding*/
#PersonalToolbar {
  padding-bottom: var(--uc-bookmark-toolbar-padding-bottom) !important;
  padding-inline: calc(var(--toolbar-start-end-padding) - 2px) calc(var(--toolbar-start-end-padding) + 4px) !important;
}

/*bookmarks bar item sizing*/
#personal-toolbar-empty-description,
toolbarbutton.bookmark-item:not(.subviewbutton) {
  margin-block: var(--bookmark-block-margin) !important;
  margin-inline: var(--bookmark-inline-margin) !important;
  padding-block: var(--bookmark-block-padding) !important;
  padding-inline: var(--bookmark-inline-padding) !important;
  font-size: 12px !important;
}

#PersonalToolbar .toolbarbutton-1 {
  padding: 0 !important;
}

/*bookmarks bar separators*/
#PlacesToolbarItems > toolbarseparator {
  padding-inline: calc(3px - var(--bookmark-inline-margin)) !important;
  align-items: center !important;
}

#PlacesToolbarItems > toolbarseparator::before {
  content: "";
  border-inline-start: 1px solid var(--toolbarseparator-color) !important;
  height: 16px !important;
  border-image: none !important;
}

/*fractional scaling adjustments (150%, 175%, etc)*/
@media (1dppx < resolution < 2dppx) {
  #PlacesToolbarItems > toolbarseparator::before {
    border-inline-start-width: 1.5px !important;
  }
}

/*spacing between icon and label for bookmarks bar items*/
#managed-bookmarks > .toolbarbutton-icon,
#bookmarks-toolbar-placeholder > .toolbarbutton-icon,
#PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon[label]:not([label=""]),
#OtherBookmarks.bookmark-item[container] > .toolbarbutton-icon {
  margin-inline-end: 8px !important;
}

/*sizing for bookmarks bar icons*/
#PersonalToolbar .toolbarbutton-1 > .toolbarbutton-icon {
  width: calc(2 * var(--bookmark-block-padding) + 16px) !important;
  height: calc(2 * var(--bookmark-block-padding) + 16px) !important;
  padding: var(--bookmark-block-padding) !important;
}

/*page actions*/
.urlbar-page-action .urlbar-icon {
  height: var(--urlbar-icon-size) !important;
  width: var(--urlbar-icon-size) !important;
}

/*zoom level and tab container indicators*/
#userContext-icons,
#urlbar-zoom-button {
  --uc-urlbar-icon-inline-padding: 8px !important;
  max-height: 20px !important;
  height: 20px !important;
  padding: 4px 4px 4px 6px !important;
  margin-inline: 3px !important;
  font-size: 0.8em;
  margin-block: calc((var(--urlbar-min-height) - 20px) / 2 - 1px /* border */ - var(--urlbar-container-padding));
}

#urlbar-zoom-button {
  order: 98;
}

#userContext-icons {
  order: 99;
}

#userContext-icons #userContext-indicator {
  transform: scale(0.75) !important;
}

#identity-box,
#tracking-protection-icon-container {
  opacity: 0.7 !important;
}

#page-action-buttons .urlbar-page-action:not([open]) {
  opacity: 0.7 !important;
}

#urlbar[breakout][breakout-extend] {
  z-index: 600 !important;
}

#urlbar[breakout][breakout-extend] #urlbar-background {
  opacity: 1 !important;
}

#urlbar[breakout][breakout-extend] #urlbar-background::before {
  opacity: 0 !important;
}

.urlbar-input-box {
  margin-top: -2px !important;
}

/*add padding to toolbar items*/
.panel-no-padding {
  padding: 2px !important;
}

@-moz-document url-prefix("chrome://") {
  notification-message::before {
    background-image: none !important;
  }
}

#trustpanel-graphic-section {
    display: none !important;
}

@media (prefers-color-scheme: dark) {
  :root {
      --panel-border-color: #29292a !important;
      --panel-background-color: #36363a !important;
      --toolbar-field-background-color-focus: var(--panel-background-color) !important;
  }

  :root[dialogroot] {
    --background-color-canvas: var(--panel-background-color) !important;
  } 

  notification-message {
    --info-bar-background-color: var(--panel-background-color) !important;
  }

  #urlbar .urlbarView,
  #urlbar #urlbar-results {
    background-color: var(--panel-background-color) !important;
  }
}

.tabbrowser-tab[pending] .tab-icon-stack {
  opacity: 0.48 !important;
  transition: opacity 0.3s ease;
}

.tabbrowser-tab[pending] .tab-label {
  opacity: 0.65 !important;
}
